a {
    color: yellowgreen;
}

body {
    background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
    font-family: "Shadows Into Light",
        cursive;
}

h1 {
    line-height: 48px;
    text-align: center;
    font-weight: 800px;
    font-size: 48px;
}

footer{
    text-align: center;
    font-size: 12px;
}

form {
    background: white;
    border-radius: 10px;
    box-shadow: 15px 20px 20px rgba(0,0,0, 0.8);
    display: flex;
    padding: 40px 100px;
    margin-bottom: 40px;
}

.container {
    margin: 20px auto;
    max-width: 600px;
}

.instructions {
    border: 1px solid yellowgreen;
    border-radius: 50px;
    font-size: 14px;
    line-height: 4px;
    padding: 20px;
    width: 80%;
    
}

.poem {
    box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.8);
    border-left: 5px solid yellowgreen;
    background: white;
    line-height: 24px;
    padding: 20px;
    margin-bottom: 40px;
}

.poem strong {
    color: yellowgreen;
}

.submit-button{
    background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
    border: 1px strong yellowgreen;
    border-radius: 50px;
    color: white;
    padding: 20px 40px;
    margin-left: 10px;
}